<md-button class="md-primary md-raised" ng-controller="DemoCtrl as questList" ng-click="questList.openDialog($event)">formularz</md-button>

  <div ng-cloak ng-controller="DemoCtrl as questList" class="tabsdemoDynamicHeight" ng-cloak="">
            <md-card ng-repeat="quest in questList.allsQ" id="prova">
                <md-card-title>
                    <md-card-title-text layout="row">
                      <span flex layout ="column"><b>tytul</b>{{quest.tytul}}</span>
                      <span flex layout ="column"><b>data</b>{{quest.data}}</span>
                      <span flex layout ="column"><b>opis</b>{{quest.opis}}</span>

                      <md-button ng-click="questList.modifica()">Modifica</md-button>
                      <md-button ng-click="questList.rimuovi()">Elimina</md-button>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
{{questList.allsQ}}
</div>